:root {
    --background: #fafafa;
    --border: #dedede;
    --text: #333333;
    --text-light: #6e6e6e;
    --logo-shadow: #cfe3ff;
    --purple: #6c5ce7;
    --green: #00cec9;
    --pink: #fd79a8;
    --orange: #fdcb6e;
    --shade-text-pink: #ff7675;
    --main-font: 'Noto Sans KR', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 16px이 100%, 62.5%는 10px */
    background: var(--background);
}

body {
    color: var(--text);
    font-family: var(--main-font);
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

::-moz-selection {
    color: var(--shade-text-pink);
    background: var(--orange);
}
  
::selection {
    color: var(--shade-text-pink);
    background: var(--orange);
}


/* main container */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > h2 {
    background: rgb(108,92,231);
    background: linear-gradient(90deg, rgba(108,92,231,1) 12%, rgba(0,206,201,1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 1px var(--logo-shadow))
                    drop-shadow(1.25px 1.25px var(--logo-shadow))
                    drop-shadow(1.5px 1.5px var(--logo-shadow))
                    drop-shadow(1.75px 1.75px var(--logo-shadow))
                    drop-shadow(2px 2px var(--logo-shadow))
                    drop-shadow(2.25px 2.25px var(--logo-shadow));
            filter: drop-shadow(1px 1px var(--logo-shadow))
                    drop-shadow(1.25px 1.25px var(--logo-shadow))
                    drop-shadow(1.5px 1.5px var(--logo-shadow))
                    drop-shadow(1.75px 1.75px var(--logo-shadow))
                    drop-shadow(2px 2px var(--logo-shadow))
                    drop-shadow(2.25px 2.25px var(--logo-shadow));
}

header > p {
    width: 100%;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.3rem;
    color: var(--text);
    border-bottom: 1px solid var(--border);
}

article {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--text);
}

.service-title > span {
    background: linear-gradient(to top, var(--green) 40%, transparent 40%);
}

.service-list {
    margin-top: 2rem;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--purple);
}

.service {
    width: 95%;
    padding: 1.5rem;
    background: var(--background);
    border-radius: 5px;
    margin: 1rem 0;
    cursor: pointer;
    box-shadow: 0px -3px #b5abff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service:hover {
    box-shadow: 4px -4px #b5abff;
}

.service > h3 {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--text);
}

.service > p {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--text-light);
}

.service > button {
    width: 80%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding: 1rem 1.3rem;
    background: var(--text);
    color: var(--background);
    box-shadow: 2px 2px 4px var(--text-light);
    border-radius: 3px;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about > h3 {
    margin: 2rem 0;
    font-size: 2rem;
}

.blended {
    width: 80%;
    border: 1px solid var(--border);
    border-radius: 4px;
    box-shadow: 3px 3px 7px var(--border);
    padding: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blended > img {
    width: 50%;
    margin: 1rem 0 2.5rem 0;
}

.blended > .content {
    color: var(--text-light);
    font-size: 1.4rem;
    text-align: center;
}

p > strong {
    color: var(--text);
    font-size: 1.6rem;
    background: linear-gradient(to top, var(--green) 40%, transparent 40%);
}

.about > .description {
    border: 1px solid var(--border);
    border-radius: 4px;
    box-shadow: 3px 3px 7px var(--border);
    padding: 1.5rem;
    width: 80%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about > .description > h4 {
    font-size: 2rem;
}

.ceo {
    margin: 1.5rem;
}

.ceo > img {
    width: 10rem;
    border-radius: 50%;
}

.ceo > p {
    font-size: 1.2rem;
}

.content > p {
    color: var(--text-light);
    font-size: 1.4rem;
    text-align: center;
}

.portfolio {
    width: 80%;
    margin-top: 2rem;
}

.portfolio > h4 {
    color: var(--purple);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.history {
    width: 100%;
    padding: 2.5rem 2.5rem 2.5rem 0;
    border-bottom: 1px solid var(--border);
}

.first-history {
    border-top: 1px solid var(--border);
}

.history > .job,
.history > .college {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.history > p {
    font-weight: normal;
    font-size: 1.3rem;
}

.history > p:last-child {
    color: #cccccc;
    margin-top: 1rem;
}

.skills {
    width: 80%;
    margin: 2rem 0;
}

.skills > h4 {
    font-size: 2rem;
    color: var(--purple);
}

.skills-list {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.skill {
    font-size: 1.3rem;
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 15px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.gradient-bar {
    width: 100%;
    height: 0.5rem;
    background: rgb(0,206,201);
    background: linear-gradient(105deg, rgba(0,206,201,1) 12%, rgba(253,121,168,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    bottom: 0;
    padding: 1.5rem 0;
    background: #f0f0f0;
    width: 100%;
    color: #525252;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 90%;
    font-size: 1.2rem;
}

.desc {
    font-size: 0.9rem;
}

@media only screen and (max-width: 400px) {
    .blended > img {
        width: 95%;
    }
}
  
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .service {
        width: 70%;
    }
}

@media only screen and (min-width: 401px) and (max-width: 599px) {
    .blended > img {
        width: 60%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
    .blended > img {
        width: 50%;
    }
}
  
@media only screen and (min-width: 961px) and (max-width: 1200px) {
    .service-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .service {
        width: 30%;
    }

    .blended > img {
        width: 40%;
    }
}

@media only screen and (min-width: 1200px) {
    .service-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .service {
        width: 30rem;
        margin: 2rem 1rem;
    }

    .about {
        width: 50%;
    }
}