:root {
    --background: #fafafa;
    --text: #333333;
    --text-light: #6e6e6e;
    --logo-shadow: #cfe3ff;
    --purple: #6c5ce7;
    --green: #00cec9;
    --pink: #fd79a8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

::-moz-selection {
    color: #ff7675;
    background: #fdcb6e;
}
  
::selection {
    color: #ff7675;
    background: #fdcb6e;
}

html {
    font-size: 62.5%; /* 16px이 100%, 62.5%는 10px */
    background: #fafafa;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10rem;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    padding: 2rem;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    width: 80%;
    color: #3d3d3d;
    position: relative;
}

.modal-content > h2 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.modal-content > h2 > span {
    border-bottom: 2px solid #05cd6a;
}

.modal-content > h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.modal-content > p {
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
}

/* The Close Button */
.close {
    position: absolute;
    top: 0;
    right: 1.3rem;
    color: #3d3d3d;
    font-size: 3rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #b0b0b0;
    text-decoration: none;
    cursor: pointer;
}

/* Main Content */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dedede;
}

.navbar {
    width: 90%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
}

.info {
    display: flex;
}

.info > h2 {
    background: rgb(108,92,231);
    background: linear-gradient(90deg, rgba(108,92,231,1) 12%, rgba(0,206,201,1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 1px var(--logo-shadow))
                    drop-shadow(1.25px 1.25px var(--logo-shadow))
                    drop-shadow(1.5px 1.5px var(--logo-shadow))
                    drop-shadow(1.75px 1.75px var(--logo-shadow))
                    drop-shadow(2px 2px var(--logo-shadow))
                    drop-shadow(2.25px 2.25px var(--logo-shadow));
            filter: drop-shadow(1px 1px var(--logo-shadow))
                    drop-shadow(1.25px 1.25px var(--logo-shadow))
                    drop-shadow(1.5px 1.5px var(--logo-shadow))
                    drop-shadow(1.75px 1.75px var(--logo-shadow))
                    drop-shadow(2px 2px var(--logo-shadow))
                    drop-shadow(2.25px 2.25px var(--logo-shadow));
}

.services {
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services > button {
    border: none;
    background: none;
    outline: none;
    color: var(--text);
    margin: 0 0.8rem;
    cursor: pointer;
    font-size: 1.3rem;
}

.services > button:focus {
    outline: none;
}

.services > button:hover {
    color: var(--text-light);
}

.navbar > p {
    position: absolute;
    right: 0;
    font-size: 1.2rem;
    border: 1px solid #ff59ea;
    border-radius: 8px;
    color: #ff59ea;
    padding: 0.2rem 0.7rem;
    cursor: pointer;
}

.navbar > p:hover {
    border: 1px solid #ff8cf0;
    color: #ff8cf0;
}

.all-filters {
    margin: 1.5rem 0;
    padding-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dedede;
}

.filters {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

.filters > h3 {
    padding: 0.3rem;
    margin: 0.2rem;
    font-size: 1rem;
    color: #363636;
}

.filters-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.filter-btn {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    background: #c65fff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-btn:hover {
    background: #d994ff;
}

.coming-soon-filter-btn {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    color: #c2c2c2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming-soon-filter-btn:hover {
    border-color: #e3e3e3;
    color: #e3e3e3;
}

.chart-wrapper {
    background: var(--background);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sparklines {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #f2f2f2;
    margin: 0.2rem;
    padding: 0.5rem;
}

.chart:hover {
    box-shadow: 3px 3px 4px #c9c9c9;
}

.chart > .title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #363636;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
}

.extra-space {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#view-more {
    margin: 2rem 0;
    background: #525252;
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    width: 60%;
    height: 4rem;
}

#view-more:hover {
    background: #878787;
}

footer {
    bottom: 0;
    padding: 1.5rem 0;
    background: #f0f0f0;
    width: 100%;
    color: #525252;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 90%;
    font-size: 1.2rem;
}

.desc {
    font-size: 0.9rem;
}

@media only screen and (max-width: 450px) {
    .navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services {
        width: 100%;
        margin-left: 0rem;
        margin-top: 2rem;
    }

    .services > button {
        width: 33%;
        margin: 0;
        font-size: 1.5rem;
    }

    .navbar > p {
        margin: 2rem;
        position: static;
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .sparklines {
        width: 100%;
    }

    #view-more {
        width: 100%;
        margin: 2rem 0 0 0;
        border-radius: 0;
        background: #525252;
    }
}

@media only screen and (min-width: 451px) and (max-width: 960px) {
    .services > button {
        margin: 0 1rem;
    }

    .sparklines {
        width: 100%;
    }
    
    #view-more {
        width: 40%;
    }
}

@media only screen and (min-width: 961px) and (max-width: 1200px) {
    .modal-content {
        width: 60%;
    }

    body {
        background: rgb(108,92,231);
        background: linear-gradient(105deg, rgba(108,92,231,1) 1%, rgba(0,206,201,1) 46%, rgba(253,121,168,1) 98%);
    }

    header {
        background: var(--background);
    }
    
    .services {
        margin-left: 5rem;
    }

    .services > button {
        margin: 0 1.2rem;
    }

    .all-filters {
        background: var(--background);
        margin: 2.5rem 0;
        padding: 1.5rem 0;
        width: 50%;
        border: 1px solid #dedede;
        border-radius: 4px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, .4);
    }

    .filters > h3 {
        font-size: 1.1rem;
        color: var(--text);
    }

    .filter-btn {
        font-size: 1rem;
        padding: 0.2rem 0.6rem;
    }

    .coming-soon-filter-btn {
        font-size: 1rem;
    }

    .sparklines {
        background: var(--background);
        padding-top: 1.5rem;
    }

    .extra-space {
        background: var(--background);
    }

    #view-more {
        width: 30%;
    }
}

@media only screen and (min-width: 1200px) {
    .modal-content {
        width: 40%;
    }

    body {
        background: rgb(108,92,231);
        background: linear-gradient(105deg, rgba(108,92,231,1) 1%, rgba(0,206,201,1) 46%, rgba(253,121,168,1) 98%);
    }

    header {
        background: var(--background);
    }

    .services {
        margin-left: 7rem;
    }

    .services > button {
        margin: 0 1.5rem;
    }

    .all-filters {
        background: var(--background);
        margin: 3rem 0;
        padding: 1.5rem 0;
        width: 35%;
        border: 1px solid #dedede;
        border-radius: 4px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, .4);
    }

    .filters > h3 {
        font-size: 1.1rem;
        color: var(--text);
    }

    .filter-btn {
        font-size: 1rem;
        padding: 0.2rem 0.6rem;
    }

    .coming-soon-filter-btn {
        font-size: 1rem;
    }

    .sparklines {
        background: var(--background);
        padding-top: 1.5rem;
    }

    .extra-space {
        background: var(--background);
    }

    #view-more {
        width: 25%;
    }
}