:root {
    --background: #fafafa;
    --border: #dedede;
    --text: #333333;
    --text-light: #6e6e6e;
    --logo-shadow: #cfe3ff;
    --purple: #6c5ce7;
    --light-purple: #b9b0ff;
    --green: #00cec9;
    --pink: #fd79a8;
    --orange: #fdcb6e;
    --shade-text-pink: #ff7675;
    --main-font: 'Noto Sans KR', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 16px이 100%, 62.5%는 10px */
    background: var(--background);
}

body {
    color: var(--text);
    font-family: var(--main-font);
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

::-moz-selection {
    color: var(--shade-text-pink);
    background: var(--orange);
}
  
::selection {
    color: var(--shade-text-pink);
    background: var(--orange);
}

/* main container */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logos {
    width: 100%;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border);
}

.logos > h2 {
    margin-right: 1.5rem;
    background: rgb(108,92,231);
    background: linear-gradient(90deg, rgba(108,92,231,1) 12%, rgba(0,206,201,1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 1px var(--logo-shadow))
                    drop-shadow(1.25px 1.25px var(--logo-shadow))
                    drop-shadow(1.5px 1.5px var(--logo-shadow))
                    drop-shadow(1.75px 1.75px var(--logo-shadow))
                    drop-shadow(2px 2px var(--logo-shadow))
                    drop-shadow(2.25px 2.25px var(--logo-shadow));
            filter: drop-shadow(1px 1px var(--logo-shadow))
                    drop-shadow(1.25px 1.25px var(--logo-shadow))
                    drop-shadow(1.5px 1.5px var(--logo-shadow))
                    drop-shadow(1.75px 1.75px var(--logo-shadow))
                    drop-shadow(2px 2px var(--logo-shadow))
                    drop-shadow(2.25px 2.25px var(--logo-shadow));
}

.logos > p {
    font-size: 1.5rem;
}

.logos > img {
    margin-left: 1rem;
    width: 20rem;
    height: 100%;
    padding-bottom: 1rem;
}

article {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.intro {
    width: 90%;
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-light);
    margin-bottom: 1.5rem;
}

.intro > h3 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--text);
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

.intro > h3 > span {
    background: linear-gradient(to top, #d6d6d6 30%, transparent 30%);
}

.service {
    margin-top: 2rem;
    width: 100%;
}

.emerging-market {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90%;
}

.content > h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content > h4 {
    font-size: 2rem;
    color: var(--purple);
    margin-bottom: 1rem;
}

.gradient-bar {
    width: 100%;
    height: 10rem;
    margin-bottom: 1rem;
    position: relative;
}

.gradient-bar > .bar {
    position: absolute;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
    background: rgb(9,132,227);
    background: linear-gradient(105deg, rgba(9,132,227,1) 15%, rgba(214,48,49,1) 85%);
}

.thumb > .range {
    width: 1.2rem;
    height: 100%;
    border: 2px solid var(--border);
    border-radius: 10px;
    box-shadow: 1px 1px 4px var(--border);
    cursor: pointer;
}

.gradient-bar > .thumb {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#bar-thumb-tooltip {
    color: var(--text);
    font-size: 1.9rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--border);
    border-radius: 4px;
    box-shadow: 1px 1px 4px var(--border);
}

.chart {
    margin-top: 4rem;
    width: 90%;
    height: 30rem;
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 10px 10px 0 0;
}

.chart > #emerging-market-chart {
    width: 100%;
    height: 100%;
}

.sub {
    width: 90%;
    border: 1px solid var(--border);
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 1rem;
}

.sub > h4 {
    font-size: 2rem;
}



footer {
    bottom: 0;
    padding: 1.5rem 0;
    background: #f0f0f0;
    width: 100%;
    color: #525252;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 90%;
    font-size: 1.2rem;
}

.desc {
    font-size: 0.9rem;
}


@media only screen and (min-width: 401px) and (max-width: 960px) {

}
  
@media only screen and (min-width: 961px) and (max-width: 1200px) {

}

@media only screen and (min-width: 1200px) {

}