<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blended</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="charts.min.js" async defer></script>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
            <div class="head">
                <h2>B</h2>
                <p>모든 주식 정보를 한 곳에서</p>
            </div>
            <div class="filters">
                <h3>FILTERS :</h3>
                <ul class="filters-list">
                    <li class="date-range-btn">1M</li>
                    <li class="date-range-btn">3M</li>
                    <li class="date-range-btn">6M</li>
                    <li class="date-range-btn">1Y</li>
                    <li class="date-range-btn">3Y</li>
                    <li class="date-range-btn">5Y</li>
                    <li class="date-range-btn">10Y</li>
                    <li class="date-range-btn">ALL</li>
                </ul>
            </div>
            <div class="sparklines"></div>
            <button id="view-more">더보기</button>
        </div>
        
    </body>
</html>