<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blended</title>
        <meta name="description" content="금융 데이터 분석 및 시각화, financial data analysis and visualization">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=" shortcut icon" href="blended_high.ico">
        <link rel="icon" href="blended_high.ico">
        <script type="text/javascript" src="charts.min.js" async defer></script>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,800;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2><span>블렌디드에 오신 걸 환영합니다!</span> 👋</h2>
                <p>국내 상장 주식 수가 3천 개가 넘는데, 어떤 종목을 사야 할지 막막한가요?</p>
                <p>상승률 상위, 거래량 상위 종목들 이름만 보고, 수익률만 보고 그 종목이 좋은지 잘 모르겠죠?</p>
                <p>블렌디드를 활용하면 모든 종목의 현황을 한눈에 파악할 수 있습니다.</p>
                <br>
                <h3>소개합니다! 👨🏻‍💻👩🏻‍💻</h3>
                <p>1. Blended팀은 수십 년 치 금융 데이터를 빠르게 가공하고,</p>
                <p>2. 순식간에 시각화할 수 있도록 웹사이트로 공유하고,</p>
                <p>3. 투자자에게 필요한 정보가 뭔지 끊임없이 생각합니다.</p>
                <br>
                <p><i>아직 부족한 점이 많습니다. 기능 개선을 위해 건의 사항이 있다면 꼭 메일을 보내주세요!! 감사합니다!</i></p>
            </div>
        </div>

        <div class="container">
            <header>
                <div class="navbar">
                    <div class="info">
                        <h2>B</h2>
                        <div class="services">
                            <button class="service">서비스</button>
                            <button class="service">키스톤</button>
                            <button class="service">블로그</button>
                        </div>
                    </div>
                    <p id="main-modal">🤳 모든 주식 정보를 한 곳에서</p>    
                </div>
            </header>
            <div class="all-filters">
                <div class="filters">
                    <h3>CHART STYLE :</h3>
                    <ul class="filters-list">
                        <li class="filter-btn chart-name-btn">코드</li>
                        <li class="filter-btn chart-name-btn">이름</li>
                        <li class="filter-btn chart-style-btn">소</li>
                        <li class="filter-btn chart-style-btn">중</li>
                        <li class="filter-btn chart-style-btn">대</li>
                    </ul>
                </div>
                <div class="filters">
                    <h3>FILTERS :</h3>
                    <ul class="filters-list">
                        <li class="filter-btn date-range-btn">1M</li>
                        <li class="filter-btn date-range-btn">3M</li>
                        <li class="filter-btn date-range-btn">6M</li>
                        <li class="filter-btn date-range-btn">1Y</li>
                        <li class="filter-btn date-range-btn">3Y</li>
                        <li class="filter-btn date-range-btn">5Y</li>
                        <li class="filter-btn date-range-btn">10Y</li>
                        <li class="filter-btn date-range-btn">ALL</li>
                    </ul>
                </div>
                <div class="filters">
                    <h3>MARKET : </h3>
                    <ul class="filters-list">
                        <li class="coming-soon-filter-btn">coming soon (코스피, 코스닥, ETF)</li>
                    </ul>
                </div>
                <div class="filters">
                    <h3>SIZE : </h3>
                    <ul class="filters-list">
                        <li class="coming-soon-filter-btn">coming soon (대형주, 중형주, 소형주)</li>
                    </ul>
                </div>
                <div class="filters last-filter">
                    <h3>INDUSTRY : </h3>
                    <ul class="filters-list">
                        <li class="coming-soon-filter-btn">coming soon (산업별)</li>
                    </ul>
                </div>
            </div>
            <div class="chart-wrapper">
                <div class="sparklines"></div>
            </div>
            <div class="extra-space">
                <button id="view-more">더보기</button>
            </div>
        </div>

        <footer>
            <div class="footer-content">
                <p>Blended ©️ 🙏🇰🇷 (2020) By : PP & KH & HM</p>
                <p>Phone: 010-7127-9553 | Email: ppark9553@gmail.com</p>
                <br>
                <p class="desc">국내 전 종목 30년치 데이터를 API로 사용하고 싶은 분은 메일을 보내주세요!</p>
                <p class="desc">제공 데이터: 주가(30년), 수급(20년), 재무(10년)</p>
                <br>
                <p>블렌디드를 응원해주세요! 💪</p>
                <p class="desc">신한은행 (박시형): 110346747401</p>
                <p class="desc">메일을 꼭 보내주세요! 여러분께 제공할 데이터와 인사이트가 많아요!</p>
            </div>
        </footer>
    </body>
</html>