<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169300832-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-169300832-1');
        </script> -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blended + Keystone</title>
        <meta name="description" content="금융 데이터 분석 및 시각화, financial data analysis and visualization">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=" shortcut icon" href="blended_high.ico">
        <link rel="icon" href="blended_high.ico">
        <link rel="stylesheet" href="keystone.min.css">
        <script type="text/javascript" src="keystone.min.js" async defer></script>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,800;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            <header>
                <div class="logos">
                    <h2 id="logo">Blended</h2> <p>➕</p> <img id="keyst-logo" src="keyst.png" alt="keystone">
                </div>
            </header>

            <article>
                <section class="intro">
                    <h3><span>블렌디드</span>와&nbsp;<span>키스톤</span>의 조합</h3>
                    <p>투자와 기술이라는 색의 조합. 금융이 멋져지는 순간.</p>
                    <p>저희는 누구나 따라할 수 있는 직관적이면서 탄탄한 솔루션을 제공합니다.</p>
                </section>
                <section class="service">
                    <div class="emerging-market">
                        <div class="main">
                            <div class="content">
                                <h3>소개합니다. 경제의 리트머스지.</h3>
                                <h4>📈 신흥국 투자 지표 Prototype</h4>
                            </div>
                            <div class="gradient-bar">
                                <div class="bar"></div>
                                <div id="thumb-div" class="thumb"><div id="bar-thumb" class="range" aria-describedby="tooltip"></div></div>
                                <div id="bar-thumb-tooltip" role="tooltip">-</div>
                            </div>
                            <div class="chart">
                                <div id="emerging-market-chart"></div>
                            </div>
                        </div>
                        <div class="sub">
                            <div class="main-content">
                                <h4>지표 활용법</h4>
                                <p>신흥국 지표는 경제의 흐름을 나타내는 주요 지표들을 조합하여 만들었습니다.</p>
                                <p>경제의 흐름을 이해하기 위해서는 4가지가 필요합니다.</p>
                            </div>
                            <div class="factor">
                                <div class="title">실물경기 (Supply & Demand)</div>
                                <div class="info">
                                    <div class="description">
                                        실물 경제는 산업재 금속 가격, 원자재 가격, 수출 지표 등을 활용하여 파악할 수 있습니다.
                                    </div>
                                    <div id="sd-chart" class="factor-chart"></div>
                                </div>
                            </div>
                            <div class="factor">
                                <div class="title">기업경기 (Business Cycle)</div>
                                <div class="info">
                                    <div class="description">
                                        건설업, 제조업, 기술업의 현황을 보면 기업경기를 볼 수 있습니다.
                                    </div>
                                    <div id="business-chart" class="factor-chart"></div>
                                </div>
                            </div>
                            <div class="factor">
                                <div class="title">환율 (Currency)</div>
                                <div class="info">
                                    <div class="description">
                                        환율은 각 국가의 경제상황을 나타내는 주요 변수 중 하나입니다.
                                    </div>
                                    <div id="currency-chart" class="factor-chart"></div>
                                </div>
                            </div>
                            <div class="factor">
                                <div class="title">리스크 (Risk)</div>
                                <div class="info">
                                    <div class="description">
                                        모든 조건이 우호적일 때 위험에 대한 선호가 나타납니다.
                                    </div>
                                    <div id="risk-chart" class="factor-chart"></div>
                                </div>
                            </div>
                        </div>
                        <div class="extra">
                            <h4>투자에 어떻게 활용하나요? 😎</h4>
                            <p>경기의 흐름을 알고 주식/지수의 상승에 올라타는게 현명한 투자자의 자세입니다.</p>
                            <p>신흥국 투자 지표는 일정한 레인지를 가지고 위아래로 왔다갔다 합니다.</p>
                            <p>보통 주식이 상승할 때는 지표도 상승하고, 주식이 바닥을 다질 때 지표도 범위의 하단선에 닿습니다.</p>
                        </div>
                    </div>
                </section>
            </article>
            <div class="gradient-bottom-bar"></div>
        </div>

        <footer>
            <div class="footer-content">
                <p>Blended ©️ 🙏🇰🇷 (2020) By : PP & KH & HM</p>
                <p>Phone: 010-7127-9553 | Email: ppark9553@gmail.com</p>
                <br>
                <p class="desc">국내 전 종목 30년치 데이터를 API로 사용하고 싶은 분은 메일을 보내주세요!</p>
                <p class="desc">제공 데이터: 주가(30년), 수급(20년), 재무(10년)</p>
                <br>
                <p>블렌디드를 응원해주세요! 💪</p>
                <p class="desc">신한은행 (박시형): 110346747401</p>
                <p class="desc">메일을 꼭 보내주세요! 여러분께 제공할 데이터와 인사이트가 많아요!</p>
            </div>
        </footer>
    </body>
</html>