<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169300832-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-169300832-1');
        </script> -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Blended | 매매내역</title>
    <meta
      name="description"
      content="금융 데이터 분석 및 시각화, financial data analysis and visualization"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel=" shortcut icon" href="blended_high.ico" />
    <link rel="icon" href="blended_high.ico" />
    <link rel="stylesheet" href="fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="trader.min.css" />
    <script type="text/javascript" src="trader.min.js" async defer></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;900&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,900;1,200;1,400;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,800;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,900;1,200;1,400;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <div class="container">
      <header>
        <div class="logos">
          <h2 id="logo">Blended</h2>
        </div>
      </header>

      <article class="trader-section">
        <div class="trader-title">
          <span>나의 포트폴리오</span>
        </div>
        <div class="trader-main">
          <div class="table-summary">
            <div class="table">
              <div class="row">
                <div class="colname">총투자기간:</div>
                <div class="value">2020.01.01 ~</div>
              </div>
              <div class="row">
                <div class="colname">매매빈도수:</div>
                <div class="value">0번</div>
              </div>
              <div class="row">
                <div class="colname">매매성공률:</div>
                <div class="value">0%</div>
              </div>
              <div class="row">
                <div class="colname">평균수익률:</div>
                <div class="value">0%</div>
              </div>
            </div>
          </div>
          <div class="stocks-list">
            <div class="list-main">
              <div class="title">상위 수익 종목</div>
              <div class="more-btn">
                더보기 <i class="fas fa-chevron-right"></i>
              </div>
            </div>
            <div class="list-items">
              <div class="list-item"></div>
              <div class="list-item"></div>
              <div class="list-item"></div>
              <div class="list-item"></div>
              <div class="list-item"></div>
              <div class="list-item"></div>
              <div class="list-item"></div>
              <div class="list-item"></div>
            </div>
          </div>
          <div class="stocks-list">
            <div class="list-main">
              <div class="title">하위 수익 종목</div>
              <div class="more-btn">
                더보기 <i class="fas fa-chevron-right"></i>
              </div>
            </div>
            <div class="list-items">
              <div class="list-item"></div>
              <div class="list-item"></div>
              <div class="list-item"></div>
              <div class="list-item"></div>
              <div class="list-item"></div>
              <div class="list-item"></div>
              <div class="list-item"></div>
              <div class="list-item"></div>
            </div>
          </div>
          <div class="text-summary">
            <p>BM을 <span>0%</span> 상회(하회)하였습니다.</p>
            <p>내 매매 유형은 <span>-</span>입니다.</p>
          </div>
        </div>
        <div class="trader-actions">
          <button class="mbti-btn"></button>
          <button class="upload-btn"></button>
        </div>
      </article>

      <div class="gradient-bottom-bar"></div>
    </div>

    <footer>
      <div class="footer-content">
        <p>Blended ©️ 🙏🇰🇷 (2020) By : PP & KH & HM</p>
        <p>Phone: 010-7127-9553 | Email: ppark9553@gmail.com</p>
        <br />
        <p class="desc">
          국내 전 종목 30년치 데이터를 API로 사용하고 싶은 분은 메일을
          보내주세요!
        </p>
        <p class="desc">제공 데이터: 주가(30년), 수급(20년), 재무(10년)</p>
        <br />
        <p>블렌디드를 응원해주세요! 💪</p>
        <p class="desc">신한은행 (박시형): 110346747401</p>
        <p class="desc">
          메일을 꼭 보내주세요! 여러분께 제공할 데이터와 인사이트가 많아요!
        </p>
      </div>
    </footer>
  </body>
</html>
